<div class="card">
    <div class="card-header">
        New
    </div>
    <div class="card-body">
        <div class="row margin-top">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center" *ngFor="let movie of movies">
                <a href="#/movies/{{ movie.imdb_id }}">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded img-thumbnail mx-auto" [src]="movie.poster">
                        <figcaption class="figure-caption">
                          {{ movie.title }}
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
</div>